# Maven build
/target/
!.mvn/wrapper/maven-wrapper.jar
/**/test-output
/**/test-output-thread

# Reports and screenshots
/**/reports/
/**/screenshots/

# IntelliJ or Eclipse files
*.iml
*.ipr
*.iws
.idea/
*.classpath
*.project
*.settings/

# OS & IDE junk
.DS_Store
Thumbs.db

# Log files
*.log

# Java binaries
*.class
*.jar

# Temporary files
*.tmp
