
<suite name="NBA Test Suite" verbose="1" parallel="false">
  
  <test name="CoreProductTests">
    <parameter name="cucumber.filter.tags" value="@cp" />
    <classes>
      <class name="coreproduct.runner.CoreProductRunnerTest" />
    </classes>
  </test>

  <test name="DerivedProduct1Tests">
    <parameter name="cucumber.filter.tags" value="@dp1" />
    <classes>
      <class name="derivedProductOne.runner.DerivedProductOneRunnerTest" />
    </classes>
  </test>

  <test name="DerivedProduct2Tests">
    <parameter name="cucumber.filter.tags" value="@dp2" />
    <classes>
      <class name="derivedProductTwo.runner.DerivedProductTwoRunnerTest" />
    </classes>
  </test>

</suite>
